#container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    height: 100vh;
}
  
#inner-container {
    grid-column: 2;
    grid-row: 1;
    label{
        display: grid;
        grid-template-columns: 1fr 2fr;
        margin-bottom: 2rem;
    }
    form:first-child{ 
        grid-column: 1;
    }
    form:last-child{
        grid-column: 2;
    }
    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        grid-column: 2;
        padding: 0;
        width:100%
    }
}

#nav{
    grid-column: 2;
    grid-row: 3;    
    display: flex;
    justify-content: space-between;
}